<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/LaCasa/static/css/index2.css">
    <title>Lacasadelliquor</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <h1 class="text-center">Featured products</h1>
            <p class="fw-light w-75 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Reiciendis a odit, dignissimos harum dolorem tempora tenetur maxime neque,
                tempore quasi repellendus molestiae minus maiores 
                voluptatibus omnis doloribus, iste ducimus fugiat!
            </p>

        </div>
        <div class="row g-4 my-5">
            <div class="col product-item mx-auto">
                <div class="product-img">
                    <img class="img-fluid d-block mx-auto"  src="#" alt="">
                    <span class="heart-icon">
                        <i class="far fa-heart"></i>
                    </span>
                    <div class="row btns w-100 mx-auto text-center">
                        <button type="button" class="col-6 py-2">
                            <i class="fa fa-cart-plus"></i>Add To cart
                        </button>
                    </div>
                </div>
                <div class="product-info p-3">
                    <span class="product-type">Wine</span>
                    <a href="#" class="d-block text-dark text-decoration-none py-2 product-name">whiskey</a>
                    <span class="product-price">ksh 800</span>
                    <div class="rating d-flex mt-1">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>(25 reviews)</span>
                    </div>


                </div>
                


            </div>

        </div>

    </div>
    <script src="script.js"></script>
    <script type="text/javascript">
        

    </script>
</body>
</html>